@import 'styles';

.detailInfoRow {
  display: flex;
  padding: 8px 0;
}

.detailInfoLabel {
  flex: 0 1 200px;
  font-weight: 600;
}

.detailInfoContent {
  flex: 1;
  padding-left: 12px;
}

@include responsive-max($screen-sm) {
  .detailInfoRow {
    display: block;
  }

  .detailInfoContent {
    padding-left: 0;
  }
}
