@import 'styles/variables';

.container {
  display: block;
}

.detailTitle {
  font-weight: 700;
  font-size: 2rem;
  border-bottom: 2px solid $cl-primary;
  margin-bottom: 24px;
}

.recommndedMoviesArea {
  display: block;
}
