.container {
  width: 100%;
  position: relative;
  cursor: pointer;
}

.imgInner {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  padding-top: 150%;
  background: #dbdbdb;
  position: relative;

  &:hover {
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.35);
      z-index: 1;
    }
  }
}

.img {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
