:root {
  --lightGrey: 227, 227, 227;
  --darkerGrey: 200, 200, 200;
  --darkBlue: 3, 37, 65;
  --lightBlue: 1, 180, 228;
  --lighterGreen: 192, 254, 207;
  --lightGreen: 30, 213, 169;
}

$bg-primary: rgb(var(--darkBlue));

$cl-primary: #39424e;
$cl-secondary: #b7c9cc;

$fs-primary: 14px;

$app-header-height: 64px;

// Screens
$breakpoints: (
  xxl: 1600,
  xl: 1200,
  lg: 992px,
  md: 768px,
  sm: 576px,
  xs: 480px,
);

$screen-xs: map-get($breakpoints, 'xs');
$screen-sm: map-get($breakpoints, 'sm');
$screen-md: map-get($breakpoints, 'md');
$screen-lg: map-get($breakpoints, 'lg');
$screen-xl: map-get($breakpoints, 'xl');
$screen-xxl: map-get($breakpoints, 'xxl');
